<div class="container mt-4">
  <h2 class="mb-3">Liste des Clients</h2>

  <table *ngIf="clients.length > 0; else noClients" class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.id }}</td>
      <td>{{ client.nom }}</td>
      <td>{{ client.email }}</td>
    </tr>
    </tbody>
  </table>

  <ng-template #noClients>
    <div class="alert alert-warning">Aucun client disponible.</div>
  </ng-template>
</div>
